<div class="login-wrapper">
  <div class="login-card">
    <div class="login-header">
    </div>

    <div class="tabs">
      <button [class.active]="rezim === 'login'" (click)="prebaci('login')">Prijava</button>
      <button [class.active]="rezim === 'registracija'" (click)="prebaci('registracija')">Registracija</button>
    </div>

    @if (greska !== '') {
      <div class="greska-poruka">{{ greska }}</div>
    }

    @if (rezim === 'login') {
      <form>
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" [(ngModel)]="loginPodaci.email" placeholder="vas@email.com" [disabled]="loading" />
        </div>
        <div class="form-group">
          <label>Lozinka</label>
          <div class="password-field">
            <input [type]="lozinkaPrikazana ? 'text' : 'password'" name="password" [(ngModel)]="loginPodaci.password" placeholder="Unesite lozinku" [disabled]="loading" />
            <button type="button" class="toggle-lozinka" (click)="toggleLozinka()">{{ lozinkaPrikazana ? '🙈' : '👁️' }}</button>
          </div>
        </div>
        <button type="button" class="btn-submit" [disabled]="loading" (click)="prijavi()">
          @if (loading) { <span class="spinner"></span> } Prijavi se
        </button>
      </form>
    }

    @if (rezim === 'registracija') {
      <form>
        <div class="form-group">
          <label>Ime</label>
          <input type="text" name="ime" [(ngModel)]="regPodaci.ime" placeholder="Vaše ime" [disabled]="loading" />
        </div>
        <div class="form-group">
          <label>Prezime</label>
          <input type="text" name="prezime" [(ngModel)]="regPodaci.prezime" placeholder="Vaše prezime" [disabled]="loading" />
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" [(ngModel)]="regPodaci.email" placeholder="vas@email.com" [disabled]="loading" />
        </div>
        <div class="form-group">
          <label>Lozinka</label>
          <div class="password-field">
            <input [type]="lozinkaPrikazana ? 'text' : 'password'" name="password" [(ngModel)]="regPodaci.password" placeholder="Unesite lozinku" [disabled]="loading" />
            <button type="button" class="toggle-lozinka" (click)="toggleLozinka()">{{ lozinkaPrikazana ? '🙈' : '👁️' }}</button>
          </div>
        </div>
        <button type="button" class="btn-submit" [disabled]="loading" (click)="registruj()">
          @if (loading) { <span class="spinner"></span> } Registruj se
        </button>
      </form>
    }

  </div>
</div>